.general {
  display: flex;
}

.time {
  margin-left: 15px;
}

.h1 {
  display: block;
  font-family: 'Open Sans', sans-serif;
  max-width: 5%;
  font-weight: 200;
  font-size: 16px;
}
.h2:nth-last-child(2n) {
  display: block;
  font-family: 'Open Sans', sans-serif;
  max-width: 5%;
  font-weight: 200;
  font-size: 12px;
}
