.event {
  display: flex;
  margin-left: 60px;
  background: #e2ecf5;
}
.event p {
  font-family: 'Open Sans', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  background-color: #e2ecf5;
  font-size: 14px;
}
