.body {
    height: 10%;
    display: flex;
    align-items: center;
    background-color: #1e1f26;
}
.logo {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}
.logo img {
    margin-right: 10px;
    height: 60px;
    width: 60px;
}
.buttonsPanel {
    display: flex;
}
.buttonsPanel button {
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
        Sans-Serif;
    font-size: 1rem;
    text-shadow: none;
    line-height: 1.2;
    display: inline-block;
    padding: 10px 16px;
    margin: 0 10px 0 0;
    border-radius: 4px;
    border: 3px solid transparent;
    background: #444857;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none !important;
    text-align: center;
    font-weight: normal !important;
}
.buttonsPanel button:hover {
    border: 3px solid #5a6074;
    background: #5a6074;
}

.logoName {
    color: #ffffff;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
        Sans-Serif;
}
.buttonGreen button {
    background: #47cf73;
    color: #000;
}
.buttonGreen button:hover {
    background: #2fb45a;
    border: 3px solid transparent;
}

.buttonsPanel button:focus {
    outline: 0;
    outline-offset: 0;
}
.buttonSave p {
    color: #ffffff;
    margin-right: 50px;
    margin: 0 30px 0 0 ;
}
